<div class="container text-center">
        <h1 class="underlined title">Burger Logger</h1>
        <div class="row">
            <div class="col right-bordered">
                <h3>Current Burgers</h3>
                {{#each burgers}}
                    {{#unless devoured}}
                        <p data-burgerName={{burger_name}} data-id={{id}} data-devoured="true">{{burger_name}}<button class="ml-2 devourBtn">Devour <i class="far fa-arrow-alt-circle-right"></i></button></p>
                    {{/unless}}
                {{/each}}
            </div>
            <div class="col">
                <h3>Devoured Zone</h3>
                {{#each burgers}}
                    {{#if devoured}}
                        <p data-burgerName={{burger_name}} data-id={{id}}>{{burger_name}}</p>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <hr>
        <div>
            <h3><i class="fas fa-plus"></i> Add a burger</h3>
            <form id="addBurgerForm" method="POST">
                <input id="addBurger" type="text" placeholder="Burger Name"/>
                <button id="addBtn" type="submit">Add Me!</button>
            </form>
            <hr>
        </div>
        <div>
            <h3><i class="fas fa-sync-alt"></i> Update a Burger</h3>
            <form id="updateBurgerForm" method="PUT">
                <select name="burgers">
                    {{#each burgers}}
                        <option class="updateBurgerOption" value={{id}}>{{burger_name}}</option>
                    {{/each}}
                </select>
                <input id="updateBurgerName" type="text" placeholder="Rename me!"/>
                <button id="updateBtn" type="submit">Update Me!</button>
            </form>
        </div>
    </div>